header.header 
	.header__container 
		.header__search 
			.header__search--icon 
				img(src="img/svg/search.svg", alt="alt")
			.header__search--input 
				input(type="text" placeholder='Поиск по сайту')
		button.header__man 
			span NameS
			img(src="img/svg/man.svg", alt="alt")
		.header__login.login-header 
			ul.login-header__list 
				li.login-header__item 
					a.login-header__link(href="") изменить аватарку
				li.login-header__item 
					a.login-header__link(href="") сменить пользователя
				li.login-header__item 
					a.login-header__link(href="") выйти
