.sidebar
	.sidebar__container 
		.sidebar__calendar-wrapper 
			a(href='').sidebar__calendar
				span.sidebar__title календарь бронирований
				.sidebar__calendar-img
					img(src="img/svg/calendar.svg", alt="alt")
		.sidebar__tel 
			span.sidebar__title телефон
			a.sidebar__tel--link.sidebar__link(href="")
				span соединить с сотрудником бюро
				.sidebar__link-icon
					img(src="img/svg/1.svg", alt="alt")
			a.sidebar__tel--link.sidebar__link(href="")
				span заказать конференц звонок
				.sidebar__link-icon
					img(src="img/svg/2.svg", alt="alt")
		.sidebar__email 
			span.sidebar__title электронная почта
			a.sidebar__email--link.sidebar__link(href="")
				span автоответ на время отпуска
				.sidebar__link-icon
					img(src="img/svg/3.svg", alt="alt")
			a.sidebar__email--link.sidebar__link(href="")
				span создать подпись в письмо
				.sidebar__link-icon
					img(src="img/svg/4.svg", alt="alt")
		.sidebar__maps 
			span.sidebar__title КАРТЫ
			a.sidebar__maps--link.sidebar__link(href="")
				span ПОСМОТРЕТЬ НА ПЛАНЕ ОФИСА
				.sidebar__link-icon
					img(src="img/svg/5.svg", alt="alt")