.menu
	.menu__wrapper
		.menu__container 
			a(href='').menu__logo 
				img(src="img/svg/logo.svg", alt="alt")
				span корпоративный портал бюро
			ul.menu__list 
				li.menu__item 
					.menu__item--click.bureau-item Бюро
					ul.submenu__list 
						li.submenu__item
							a.submenu__link.philosophi-link(href='philosophi.html') философия
						li.submenu__item
							a.submenu__link(href='#') история
						li.submenu__item
							a.submenu__link(href='#') орг. структура
						li.submenu__item
							a.submenu__link.offices-link(href='offices.html') офисы
				li.menu__item 
					a.menu__item--click.people-link(href='people-cards.html') Люди
				li.menu__item 
					a.menu__item--click.docs-link(href='docs.html') Документы
				li.menu__item 
					.menu__item--click биллинг
					ul.submenu__list 
						li.submenu__item
							a.submenu__link(href='#') философия
						li.submenu__item
							a.submenu__link(href='#') история
						li.submenu__item
							a.submenu__link(href='#') орг. структура
						li.submenu__item
							a.submenu__link(href='#') офисы
				li.menu__item 
					.menu__item--click финансы
					ul.submenu__list 
						li.submenu__item
							a.submenu__link(href='#') философия
						li.submenu__item
							a.submenu__link(href='#') история
						li.submenu__item
							a.submenu__link(href='#') орг. структура
						li.submenu__item
							a.submenu__link(href='#') офисы
				li.menu__item 
					.menu__item--click Маркетинг
					ul.submenu__list 
						li.submenu__item
							a.submenu__link(href='#') позиционирование
						li.submenu__item
							a.submenu__link(href='#') шаблоны
						li.submenu__item
							a.submenu__link(href='#') брендбук
						li.submenu__item
							a.submenu__link(href='#') актуальные опросы
						li.submenu__item
							a.submenu__link(href='#') результаты опросов
				li.menu__item 
					.menu__item--click.menu__item--click-uppercase HR
					ul.submenu__list 
						li.submenu__item
							a.submenu__link(href='#') дмс
						li.submenu__item
							a.submenu__link(href='#') дресс-код
						li.submenu__item
							a.submenu__link(href='#') корпоративная связь
						li.submenu__item
							a.submenu__link(href='#') адвокатский статус
						li.submenu__item
							a.submenu__link(href='#') больничный
						li.submenu__item
							a.submenu__link(href='#') командировки
						li.submenu__item
							a.submenu__link(href='#') увольнение
						li.submenu__item
							a.submenu__link(href='#') справочник нового сотрудника
				li.menu__item 
					.menu__item--click.menu__item--click-uppercase IT
					ul.submenu__list 
						li.submenu__item
							a.submenu__link(href='#') FAQ
						li.submenu__item
							a.submenu__link(href='#') полезные советы
						li.submenu__item
							a.submenu__link(href='#') WI-Fi
						li.submenu__item
							a.submenu__link(href='#') Maconomy
						li.submenu__item
							a.submenu__link(href='#') офисные телефоны
						li.submenu__item
							a.submenu__link(href='#') почта Outlook
						li.submenu__item
							a.submenu__link(href='#') Word
						li.submenu__item
							a.submenu__link(href='#') Excel
						li.submenu__item
							a.submenu__link(href='#') Acrobat Pro
						li.submenu__item
							a.submenu__link(href='#') Rocket Chat
						li.submenu__item
							a.submenu__link(href='#') Видеоконференции
						li.submenu__item
							a.submenu__link(href='#') Brya Mobile
