extends ../layouts/default

block variables
	- const title = "IP";

block content
	.wrapper
		include ../../blocks/modules/header/header

		include ../../blocks/modules/sidebar-icons/sidebar-icons
		.page
			include ../../blocks/modules/menu/menu
			.content
				.content__container
					.autoreply 
						.autoreply__container
							.autoreply__title.general-title Автоответ на время отпуска
							p.autoreply__text Короткая инструкция будет тут. Писмо формируется автоматичевки: текст письма стандартный, данный сотрудника подтягиваются из базы данных (имя фамилия, телефон, email и тд) Изначально текст будет серым (50% black), без возможности править. Возможность внести корректировки появляется уже после создания подписи. При выборе пунка он становиться черным (100% black). После того, как все пункты были выбраны кнопка создать становится активной. После нажатия кнопки создать  становиться активной кнопка скопировать (при этом кнопка создать становиться неактивной (30% black), а также текст письма становится доступным к редактированию (100% black). В сформированное письмо можно добавить еще один номер телефона, например, или еще какие данные.
								br
								|Ссылка на подробную инструкцию со скринами (в раздел IT??)
							.autoreply__body 
								.autoreply__left 
									.autoreply__item.autoreply__item-calendar 
										.autoreply__item--title даты
										.autoreply__item-calendar-row.autoreply__item--row.autoreply__item--row-arrow
											input#datepicker.js-datepicker(type='text' placeholder='Выберите даты')
											img(src="img/svg/autoreply/arrow.svg", alt="alt")
									.autoreply__item 
										.autoreply__item--title заместитель
										label.autoreply__item--row.autoreply__item--row-search
											input(type='text' placeholder='Начните набирать имя')
											img(src="img/svg/autoreply/search.svg", alt="alt")
									.autoreply__item 
										.autoreply__item--title язык
										.autoreply__item--inner(data-state='')
											img(src="img/svg/autoreply/arrow.svg", alt="alt")
											.autoreply__item--row-lang.autoreply__item--row.autoreply__item--row-arrow(data-default='active') 
												span русский
											.autoreply__item--content
												input#autoreplySelect1.autoreply__item--input(type='radio' name='autoreplySelect')
												label.autoreply__item--label1(for='autoreplySelect1')
												input#autoreplySelect2.autoreply__item--input(type='radio' name='autoreplySelect' checked='')
												label.autoreply__item--label.autoreply__item--label-rus(for='autoreplySelect2') 
													span русский
												input#autoreplySelect3.autoreply__item--input(type='radio' name='autoreplySelect')
												label.autoreply__item--label.autoreply__item--label-eng(for='autoreplySelect3') 
													span английский
								.autoreply__right 
									textarea
										|Тут будет стандартный текст для ответа на время отпуска. Писмо формируется автоматичевки: текст письма стандартный, данный сотрудника подтягиваются из базы данных (имя фамилия, телефон, email и тд
							.autoreply__footer 
								.autoreply__empty 
								.autoreply__btns 
									.autoreply__btn.autoreply__btn-create создать
									.autoreply__btn.autoreply__btn-copy скопировать
								.autoreply__reset 
									img(src="img/svg/autoreply/shape.svg", alt="alt")
									span сбросить

		include ../../blocks/modules/footer/footer
	script
		