extends ../layouts/default

block variables
	- const title = "IP";

block content
	.wrapper
		include ../../blocks/modules/header/header

		include ../../blocks/modules/sidebar-icons/sidebar-icons
		.page
			include ../../blocks/modules/menu/menu
			.content
				.content__container
					.people
						.people__title.general-title Сотрудники бюро
						.people__header 
							.people__header--search.search 
								.people__header--icon.search--icon 
									img(src="img/svg/search-orange.svg", alt="alt")
								.people__header--input.search--input 
									input(type="text" placeholder='Найти сотрудника')

							.-select-.people__header--select.select1
								.select1--title 
									span все практики / отделы
								.select1--content
									input#singleSelect1.select1--input(type='radio' name='singleSelect1')
									label.select1--label(for='singleSelect1')
									input#singleSelect2.select1--input(type='radio' name='singleSelect1' checked='')
									label.select1--label.select1--label-all(for='singleSelect2') 
										span все практики / отделы
									.select1--content__wrapper
										#select1--content__left.select1--content__left
											.select1--content__title практики
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span антимонопольное регулирование
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span банковское и финансовое право
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span взаимодействие с органами власти
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span регулирование и комплаенс
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span корпоративное право / M&A
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span международные споры
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span налоги
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span недвижимость и инвестиции
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span разрешение споров в россии
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span private clients
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span энергетика / природные ресурсы
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-left(for='singleSelect3') 
												span коммерческие контракты

										#select1--content__right.select1--content__right
											.select1--content__title отделы
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-right(for='singleSelect3') 
												span биллинг
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-right(for='singleSelect3') 
												span кадры
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-right(for='singleSelect3') 
												span финансы
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-right(for='singleSelect3') 
												span IT
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-right(for='singleSelect3') 
												span маркетинг
											input#singleSelect3.select1--input(type='radio' name='singleSelect1')
											label.select1--label.select1--label-right(for='singleSelect3') 
												span водители / курьеры

							.-select-.people__header--select.select2
								.select2--title 
									span все офисы
								.select2--content
									input#singleselect11.select2--input(type='radio' name='singleselect2')
									label.select2--label(for='singleselect11')
									input#singleSelect212.select2--input(type='radio' name='singleselect2' checked='')
									label.select2--label(for='singleSelect212') 
										span все офисы
									input#singleSelect22.select2--input(type='radio' name='singleselect2')
									label.select2--label(for='singleSelect22') 
										span Москва
									input#singleSelect33.select2--input(type='radio' name='singleselect2')
									label.select2--label(for='singleSelect33') 
										span Санкт-Петербург

							.people__header--btns 
								a(href="people-lists.html").people__header--btn.people__header--btn1
									svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M0 1H26M0 12H26M0 23H26' stroke='#CFEDFF' stroke-width='2')
								a(href="people-cards.html").people__header--btn.people__header--btn2.active
									svg(width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M1 1H10V10H1V1ZM1 16H10V25H1V16ZM16 1H25V10H16V1ZM16 16H25V25H16V16Z' stroke='black' stroke-width='2')

						.people-cards__items 
							.people-cards__row 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Василий 
											br
											span Торкановский 
										.people-cards__position 
											|партнер, руководитель практики Международное публичное право 
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column
										a(href='people-person.html').people-cards__img 
											img(src="img/man.jpg", alt="alt")
										a(href='people-person.html').people-cards__name 
											span Юлия 
											br
											span Чекмарева 
										.people-cards__position 
											|советник, руководитель практики Private Clients 
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='people-person.html').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Наталия 
											br 
											span Малямина 
										.people-cards__position 
											|управляющий партнер 
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Андрей  
											br
											span Горленко 
										.people-cards__position 
											|партнер, руководитель практики Разрешение международных споров
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Максим 
											br 
											span Распутин 
										.people-cards__position 
											|партнер 
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Алексей 
											br 
											span Козьяков 
										.people-cards__position 
											|партнер, руководитель офиса в Санкт-Петербурге 
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Христофор  
											br
											span Иванян 
										.people-cards__position 
											|партнер
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Наталья  
											br
											span Родина 
										.people-cards__position 
											|советник 
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Александр  
											br
											span Милосавлевич 
										.people-cards__position 
											|советник 
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 
								.people-cards__item 
									.people-cards__column 
										a(href='').people-cards__img 
										a(href='').people-cards__name 
											span Дарья  
											br
											span Семенихина 
										.people-cards__position 
											|партнер, cоруководитель транзакционных практик (corporate/M&A, banking & finance) 
										.people-cards__links 
											a(href="").people-cards__links--icon 
												svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M11 1H3C1.89543 1 1 1.89543 1 3V17C1 18.1046 1.89543 19 3 19H11C12.1046 19 13 18.1046 13 17V3C13 1.89543 12.1046 1 11 1Z' fill='none')
													path(d='M6.5 16.01C6.5 16.2861 6.72386 16.51 7 16.51C7.27614 16.51 7.5 16.2861 7.5 16.01H6.5ZM7.5 16C7.5 15.7239 7.27614 15.5 7 15.5C6.72386 15.5 6.5 15.7239 6.5 16H7.5ZM4.5 3C4.22386 3 4 3.22386 4 3.5C4 3.77614 4.22386 4 4.5 4L4.5 3ZM9.5 4C9.77614 4 10 3.77614 10 3.5C10 3.22386 9.77614 3 9.5 3L9.5 4ZM3 1.5H11V0.5H3V1.5ZM12.5 3V17H13.5V3H12.5ZM11 18.5H3V19.5H11V18.5ZM1.5 17V3H0.5V17H1.5ZM3 18.5C2.17157 18.5 1.5 17.8284 1.5 17H0.5C0.5 18.3807 1.61929 19.5 3 19.5V18.5ZM12.5 17C12.5 17.8284 11.8284 18.5 11 18.5V19.5C12.3807 19.5 13.5 18.3807 13.5 17H12.5ZM11 1.5C11.8284 1.5 12.5 2.17157 12.5 3H13.5C13.5 1.61929 12.3807 0.5 11 0.5V1.5ZM3 0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5C1.5 2.17157 2.17157 1.5 3 1.5V0.5ZM7.5 16.01V16H6.5V16.01H7.5ZM4.5 4L9.5 4L9.5 3L4.5 3L4.5 4Z' fill='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на мобильный  
											a(href="").people-cards__links--icon 
												svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M16.9995 15.2872V12.728C17.0099 12.3096 16.8658 11.902 16.5948 11.5827C15.8303 10.6823 13.2085 10.1063 12.1693 10.3275C11.5323 10.4631 11.0458 10.9949 10.5975 11.4849C10.4757 11.6181 10.3567 11.7482 10.2383 11.8664L16.9995 15.2872ZM16.9995 15.2872C17.0035 16.2655 16.1238 17.0824 15.1361 16.9933L16.9995 15.2872ZM16.4995 15.2872L16.4995 15.2892C16.5023 15.974 15.874 16.5579 15.181 16.4954L15.1584 16.4933L15.1357 16.4933C6.8886 16.4998 0.500217 10.0529 0.506672 1.86018L0.50669 1.83739L0.504635 1.8147C0.442471 1.12816 1.02141 0.500867 1.7079 0.500083H4.27197V0.500107L4.27688 0.500059C4.57066 0.497173 4.85533 0.60101 5.07783 0.791984C5.22531 0.918565 5.39259 1.1541 5.55582 1.49529C5.71517 1.82837 5.85403 2.22688 5.96193 2.64191C6.18395 3.49591 6.24852 4.31416 6.1626 4.71622C6.10463 4.98751 5.9315 5.24976 5.66029 5.53661C5.52665 5.67796 5.37928 5.8151 5.22283 5.958C5.20102 5.97792 5.17891 5.99806 5.1566 6.01838C5.02365 6.1395 4.88365 6.26704 4.75644 6.394L4.48621 6.6637L4.67521 6.99542C5.93662 9.20942 7.77333 11.0424 9.99148 12.3012L10.3223 12.4889L10.5915 12.2203C10.7187 12.0933 10.8465 11.9536 10.9678 11.8209C10.9882 11.7986 11.0084 11.7766 11.0283 11.7548C11.1715 11.5987 11.3089 11.4516 11.4506 11.3182C11.7379 11.0476 12.0009 10.8745 12.2734 10.8165C12.6776 10.7305 13.5012 10.7954 14.3593 11.0184C14.7765 11.1268 15.1767 11.2663 15.5108 11.4265C15.8531 11.5906 16.0882 11.7586 16.2136 11.9063C16.4053 12.1321 16.507 12.4201 16.4996 12.7155L16.4995 12.7155V12.728L16.4995 15.2872Z' stroke='black')
												span.people-cards__links--text-hidden 
													span позвонить 
														br
														|на рабочий
											a(href="").people-cards__links--icon 
												svg(width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M1 1H20V13H1V1Z' fill='none')
													path(d='M1 1V0.5C0.723858 0.5 0.5 0.723858 0.5 1H1ZM20 1H20.5C20.5 0.723858 20.2761 0.5 20 0.5V1ZM20 13V13.5C20.2761 13.5 20.5 13.2761 20.5 13H20ZM1 13H0.5C0.5 13.2761 0.723858 13.5 1 13.5V13ZM1.75666 1.03182C1.53754 0.863768 1.22367 0.905171 1.05563 1.12429C0.887577 1.34341 0.928981 1.65728 1.1481 1.82533L1.75666 1.03182ZM10.9524 8.71429L10.6481 9.11104C10.8348 9.25425 11.0962 9.24786 11.2757 9.0957L10.9524 8.71429ZM19.8709 1.80998C20.0816 1.63143 20.1076 1.31592 19.929 1.10527C19.7505 0.894621 19.435 0.868604 19.2243 1.04716L19.8709 1.80998ZM1 1.5H20V0.5H1V1.5ZM19.5 1V13H20.5V1H19.5ZM20 12.5H1V13.5H20V12.5ZM1.5 13V1H0.5V13H1.5ZM1.1481 1.82533L10.6481 9.11104L11.2567 8.31753L1.75666 1.03182L1.1481 1.82533ZM11.2757 9.0957L19.8709 1.80998L19.2243 1.04716L10.6291 8.33287L11.2757 9.0957Z' fill='black')
												span.people-cards__links--text-hidden 
													span написать 
														br
														|письмо
											a(href="").people-cards__links--icon 
												svg(width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M8 18C11.1848 14.9487 15 11.8262 15 7.97436C15 4.12253 11.866 1 8 1C4.13401 1 1 4.12253 1 7.97436C1 11.8262 5.05983 14.9487 8 18Z' fill='none')
													path(d='M8 9.24918C9.10457 9.24918 10 8.29797 10 7.12459C10 5.95121 9.10457 5 8 5C6.89543 5 6 5.95121 6 7.12459C6 8.29797 6.89543 9.24918 8 9.24918Z' fill='none')
													path(d='M8 18L7.63995 18.3469C7.83117 18.5454 8.14691 18.5517 8.3459 18.361L8 18ZM2.5 21C2.22386 21 2 21.2239 2 21.5C2 21.7761 2.22386 22 2.5 22V21ZM13.5 22C13.7761 22 14 21.7761 14 21.5C14 21.2239 13.7761 21 13.5 21V22ZM6 11.3738L5.99999 11.8738H6V11.3738ZM10 11.3738V11.8738H10L10 11.3738ZM11.5 14C11.5 14.2761 11.7239 14.5 12 14.5C12.2761 14.5 12.5 14.2761 12.5 14H11.5ZM3.5 14C3.5 14.2761 3.72386 14.5 4 14.5C4.27614 14.5 4.5 14.2761 4.5 14H3.5ZM14.5 7.97436C14.5 9.72952 13.6311 11.3614 12.3082 12.9698C10.9812 14.5829 9.26889 16.0919 7.6541 17.639L8.3459 18.361C9.91594 16.8568 11.7036 15.2789 13.0805 13.605C14.4613 11.9263 15.5 10.071 15.5 7.97436H14.5ZM8.36005 17.6531C6.84542 16.0812 5.15242 14.597 3.78007 12.9655C2.4211 11.35 1.5 9.72101 1.5 7.97436H0.5C0.5 10.0795 1.60882 11.9378 3.0148 13.6092C4.40741 15.2648 6.21442 16.8675 7.63995 18.3469L8.36005 17.6531ZM1.5 7.97436C1.5 4.4004 4.40842 1.5 8 1.5V0.5C3.8596 0.5 0.5 3.84466 0.5 7.97436H1.5ZM8 1.5C11.5916 1.5 14.5 4.4004 14.5 7.97436H15.5C15.5 3.84466 12.1404 0.5 8 0.5V1.5ZM2.5 22H13.5V21H2.5V22ZM9.5 7.12459C9.5 8.05073 8.80039 8.74918 8 8.74918V9.74918C9.40875 9.74918 10.5 8.54522 10.5 7.12459H9.5ZM8 8.74918C7.19961 8.74918 6.5 8.05073 6.5 7.12459H5.5C5.5 8.54522 6.59125 9.74918 8 9.74918V8.74918ZM6.5 7.12459C6.5 6.19846 7.19961 5.5 8 5.5V4.5C6.59125 4.5 5.5 5.70397 5.5 7.12459H6.5ZM8 5.5C8.80039 5.5 9.5 6.19846 9.5 7.12459H10.5C10.5 5.70397 9.40875 4.5 8 4.5V5.5ZM6 11.8738H10V10.8738H6V11.8738ZM10 11.8738C10.3867 11.8738 10.7513 12.1064 11.0431 12.5371C11.335 12.9679 11.5 13.5269 11.5 14H12.5C12.5 13.326 12.2745 12.5718 11.871 11.9763C11.4676 11.3807 10.8321 10.8738 9.99999 10.8738L10 11.8738ZM4.5 14C4.5 13.5269 4.66504 12.9679 4.95688 12.5371C5.24871 12.1064 5.61327 11.8738 5.99999 11.8738L6.00001 10.8738C5.16787 10.8738 4.53244 11.3807 4.12897 11.9763C3.72554 12.5718 3.5 13.326 3.5 14H4.5Z' fill='black')
												span.people-cards__links--text-hidden 
													span найти 
														br
														|на плане офиса
										a(href='').people-cards__profile 
											span профиль 

		include ../../blocks/modules/footer/footer
