.main
	.main__container 
		.main__news 
			.main__title актуальное
			a(href='#').main__link
				figure
					h2.main__subtitle заголовок новости  
					p.main__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			a(href='#')
				figure
					h2.main__subtitle название опроса / сроки опроса в заголовке  
					p.main__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального. Пройти опрос
		.main__massages 
			.main__title лента
			a(href='#').main__link
				figure
					.main__date 
						span 24.05.2022
						span 11:35
					p.main__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			a(href='#').main__link
				figure
					.main__date 
						span 24.05.2022
						span 12:23
					p.main__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			a(href='#').main__link
				figure
					.main__date 
						span 24.05.2022
						span 17:32
					p.main__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			a(href='#').main__link
				figure
					.main__date 
						span 24.05.2022
						span 16:48
					p.main__text Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
