footer.footer
	.footer__container 
		.footer__left 
			span © Иванян и партнеры 2022  / Корпоративный портал бюро
		.footer__right 
			span Москва: 
			a(href="tel: 4956470046") +7 495 647 0046  
			a(href="mailto: reception.mos@iplf.ru") reception.mos@iplf.ru  
			span Санкт-Петербург: 
			a(href="tel: 8126470046") +7 812 647 0046 
			a(href="mailto: reception.spb@iplf.ru") reception.spb@iplf.ru