@font-face {
	font-family: 'Source Serif Pro';
	src: url('../fonts/SourceSerifPro_Bold/SourceSerifPro_Bold.eot');
	src: local('SourceSerifPro_Bold'), local('../fonts/SourceSerifPro_Bold/SourceSerifPro_Bold'),
		url('../fonts/SourceSerifPro_Bold/SourceSerifPro_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSerifPro_Bold/SourceSerifPro_Bold.woff') format('woff'),
		url('../fonts/SourceSerifPro_Bold/SourceSerifPro_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Source Serif Pro';
	src: url('../fonts/SourceSerifPro_Semibold/SourceSerifPro_Semibold.eot');
	src: local('SourceSerifPro_Semibold'), local('../fonts/SourceSerifPro_Semibold/SourceSerifPro_Semibold'),
		url('../fonts/SourceSerifPro_Semibold/SourceSerifPro_Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSerifPro_Semibold/SourceSerifPro_Semibold.woff') format('woff'),
		url('../fonts/SourceSerifPro_Semibold/SourceSerifPro_Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Source Serif Pro';
	src: url('../fonts/SourceSerifPro_Regular/SourceSerifPro_Regular.eot');
	src: local('SourceSerifPro_Regular'), local('../fonts/SourceSerifPro_Regular/SourceSerifPro_Regular'),
		url('../fonts/SourceSerifPro_Regular/SourceSerifPro_Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSerifPro_Regular/SourceSerifPro_Regular.woff') format('woff'),
		url('../fonts/SourceSerifPro_Regular/SourceSerifPro_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Styrene A LC Web';
	src: url('../fonts/StyreneAWeb_Bold/StyreneAWeb_Bold.eot');
	src: local('StyreneAWeb_Bold'), local('../fonts/StyreneAWeb_Bold/StyreneAWeb_Bold'),
		url('../fonts/StyreneAWeb_Bold/StyreneAWeb_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/StyreneAWeb_Bold/StyreneAWeb_Bold.woff') format('woff'),
		url('../fonts/StyreneAWeb_Bold/StyreneAWeb_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Styrene A LC Web';
	src: url('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular.eot');
	src: local('StyreneAWeb_Regular'), local('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular'),
		url('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular.woff') format('woff'),
		url('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Styrene A LC';
	src: url('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular.eot');
	src: local('StyreneAWeb_Regular'), local('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular'),
		url('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular.woff') format('woff'),
		url('../fonts/StyreneAWeb_Regular/StyreneAWeb_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}